.card{
    display: flex;
    /* flex-direction: row; */
    flex: 1 ;
    /* background-color: aqua; */
    margin-bottom: 1px;
    width: 100%;
    flex-wrap: wrap;
    /* height: 200px; */
    /* justify-content: space-between; */

}
@media only screen and (max-width: 600px) {
  .card {
 flex-direction: column;
 justify-content: center;
 width: 100%;
 align-items: center;
  }
}





.image{
  max-width: 50%;
  background-color: white;
flex: 1;
overflow: hidden;
align-items: center;
text-align: center  ;
justify-content: center;
object-fit: contain;
}
@media only screen and (max-width: 600px) {
  .image {
 /* width: 50%; */
 overflow:visible;
  }
}
.description{
width: 50%;
text-align: center;
display: flex;
/* flex: 1; */
align-items: center;
flex-direction: column;
justify-content: center;
}

.projectTitle{
    color:white;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:0;
}

.img{
  height: 500px;
  /* border-radius: 5%; */
}


@media only screen and (max-width: 600px) {
  .img {
 /* width: 50%; */
/* width: 100%; */
flex:1;
width: 100%;
height: 80%;
}
}
.techStack{
  color: #0aff9d;

}
.desc{
   color: #ebecf3;
   padding: 10px;
   font-weight: 200;
   font-size: 21px;
   line-height: 34px;
}
